<h3>results</h3>
<p>Number of posts found: <%= result_count %></p>

<% result_posts.each do |post| %>
  <div>
    liked from <strong><%= post[:liked_from_blog] %></strong>:
    <a href=<%= post[:url] %> target="_blank"><%= post[:link_text] %></a>
    <small><%= post[:type] %></small>
  </div>
<% end %>
